.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-4);
  padding-right: var(--space-4);

  @include md {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
  }

  @include lg {
    padding-left: var(--space-8);
    padding-right: var(--space-8);
  }
}

.sm {
  max-width: $container-sm;
}

.md {
  max-width: $container-md;
}

.lg {
  max-width: $container-lg;
}

.xl {
  max-width: $container-xl;
}

.full {
  max-width: $container-max;
}
