.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.sm {
  font-size: 14px;
}

.md {
  font-size: 18px;
}

.lg {
  font-size: 24px;
}

.xl {
  font-size: 32px;
}
